.archive{
  &-wrapper{
    padding: 30px 0 170px;

    @include media-breakpoint-down(sm){
      padding: 20px 0 60px;
    }
  }

  &-head{
    margin-bottom: 60px;
    text-align: center;
    h1{
      margin-bottom: 40px;
    }

    &-descr{
      margin: 0 auto 40px;
      font-weight: $fw-bold;
      max-width: 1065px;

      @include media-breakpoint-down(xs){
        font-size: 14px;
      }
    }

    &-links{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px 63px;
      padding-bottom: 40px;

      a{
        text-transform: uppercase;
        color: $gray-2;
        text-decoration: none;

        &:is(:hover, :focus){
          color: $primary-color;
          text-decoration: underline;
        }

        &.current{
          color: $primary-color;
        }
      }
    }
  }

  &-body{
    .container{
      display: flex;
      flex-wrap: wrap;
      gap: 45px 30px;

      @include media-breakpoint-down(xs){
        gap: 24px;
      }
    }

    .post-preview{
      width: 100%;
      max-width: calc(25% - 22.5px);

      @include media-breakpoint-down(lg){
        max-width: calc(33.33% - 20px);
      }

      @include media-breakpoint-down(sm){
        max-width: calc(50% - 15px);
      }

      @include media-breakpoint-down(xs){
        max-width: 100%;
      }
    }

    &_3-columns{
      .post-preview{
        width: 100%;
        max-width: calc(33.33% - 20px);
      }
    }
  }
}
