.cards-slider{
  padding: 0 60px;
  position: relative;

  &-section{
    text-align: center;

    h2{
      margin-bottom: 36px;
    }

    &-text{
      margin-bottom: 36px;
    }
  }

  .swiper{
    &-wrapper{
      margin: 0 auto;
    }

    &-slide{
      &__inner{
        position: relative;
        min-height: 300px;
        background-color: $white;
        border-radius: 50px;
        overflow: hidden;

        @include media-breakpoint-down(lg){
          min-height: 250px;
        }

        div{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 24px;
          background-color: $white;
          color: $primary-color;
          display: flex;
          flex-direction: column;
          justify-content: center;
          transition: opacity ease-out $transition;

          &:nth-child(1){
            z-index: 1;
            font-size: 20px;
            font-weight: $fw-bold;
          }
        }

        &:is(:hover, :focus){
          div{
            &:nth-child(1){
              opacity: 0;
            }
          }
        }
      }
    }
  }
}