.contacts{
  @include media-breakpoint-down(md){
    margin: 100px 0;
  }

  &:first-child{
    margin-top: 50px;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px 94px;

    @include media-breakpoint-down(lg){
      gap: 40px;
    }

    @include media-breakpoint-down(md){
      gap: 100px;
    }

  }

  &-address{
    width: 100%;
    max-width: 456px;

    @include media-breakpoint-down(md){
      max-width: 100%;
      order: 3;
    }

    .acf-map {
      height: 432px;
      width: 100%;
      border-radius: 50px;
      overflow: hidden;

      @include media-breakpoint-down(lg){
        border-radius: 24px;
      }

      @include media-breakpoint-down(sm){
        height: 325px;
      }
    }

    .acf-map img {
      max-width: inherit !important;
    }

    &__label{
      text-transform: uppercase;
      font-weight: $fw-bold;
      font-size: 16px;
      margin-top: 4px;

      &:nth-child(2){
        margin-top: 24px;
      }
    }

    &__text{
      margin-top: 4px;

      &:nth-child(2){
        margin-top: 24px;
      }
    }
  }

  &-content{
    width: 100%;
    max-width: calc(100% - 456px - 94px);

    @include media-breakpoint-down(md){
      max-width: 100%;
      order: 1;
    }

    h2{
      margin-bottom: 48px;
    }

    .wpcf7{
      max-width: 550px;

      @include media-breakpoint-down(md){
        max-width: 100%;
      }

      textarea{
        height: 80px;
      }
    }
  }

  &-social{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    width: 100%;

    @include media-breakpoint-down(md){
      order: 2;
      margin-top: 0;
    }

    &__title{
      background-color: $primary-color;
      color: $white;
      min-height: 132px;
      font-size: 22px;
      flex: 1 1 auto;
      font-weight: 700;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px;
      border-radius: 24px;
      text-transform: uppercase;

      @include media-breakpoint-down(lg){
        min-width: auto;
        width: calc(66.67% - 15px);
      }

      @include media-breakpoint-down(sm){
        min-width: auto;
        width: calc(50% - 11px);
        font-size: 12px;
        border-radius: 12px;
      }
    }

    &__link{
      min-height: 132px;
      padding: 28px 16px;
      background-color: $gray-3;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      color: $primary-color;
      font-size: 16px;
      font-weight: 700;
      text-decoration: none;
      transition: color ease-out $transition, background-color ease-out $transition;
      min-width: 210px;

      @include media-breakpoint-down(lg){
        min-width: auto;
        width: calc(33.33% - 15px);
      }

      @include media-breakpoint-down(sm){
        min-width: auto;
        width: calc(50% - 11px);
        border-radius: 12px;
      }

      &:nth-child(5){
        @include media-breakpoint-down(sm){
          min-width: auto;
          width: 100%;
          flex-direction: row;
          gap: 16px;
          align-items: center;
          min-height: 64px;
        }

        span{
          &:nth-child(2){
            margin-top: 0;
          }
        }
      }

      span{
        word-break: break-word;
        svg{
          min-width: 32px;
          min-height: 32px;
          path{
            transition: fill ease-out $transition;
          }
        }
        &:nth-child(2){
          margin-top: 36px;
        }
      }

      &:is(:hover, :focus){
        background-color: $primary-color;
        color: $white;

        svg{
          path{
            fill: $white;
          }
        }
      }
    }
  }
}
