.faq{
  &-item{
    border-bottom: 1px solid $primary-color;
    transition: border-color ease-out $transition;

    &:is(:hover, :focus){
      border-color: $gray-2;
    }

    &__head{
      text-decoration: none;
      color: $primary-color;
      font-size: 36px;
      font-weight: $fw-bold;
      text-transform: uppercase;
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 32px 0;
      transition: color ease-out $transition;

      &_Medium{
        font-size: 24px;
      }

      &_Small{
        font-size: 16px;
      }

      span{
        &:nth-child(1){
          flex: 1 1 auto;
        }

        &.number{
          min-width: 295px;

          @media (max-width: 1400px) {
            min-width: 100px;
          }
        }
        &.arrow{
          margin-left: auto;
        }
      }

      svg{
        path{
          transition: fill ease-out $transition;
        }
      }

      &:is(:hover, :focus){
        color: $gray-2;

        svg{
          path{
            fill: $gray-2;
          }
        }
      }
    }

    &__body{
      overflow: hidden;
      transition: max-height ease-in-out $transition;
      max-height: 0;
      
      &-inner{
        padding-bottom: 32px;

        &_short{
          max-width: 925px;
          margin-left: auto;

          .team-wrapper{
            gap: 55px;
          }
        }
        
        a{
          color: $primary-color;
          text-decoration: underline;
          
          &:is(:hover, :focus){
            text-decoration: none;
          }
        }
      }

      .team-item__name{
        font-size: 16px;
        padding-top: 8px;
      }
    }

    .two-columns{
      display: flex;
      gap: 30px 144px;
      font-size: 16px;
      text-align: justify;

      @media (max-width: 1199.98px) {
        gap: 30px 60px;
      }

      div{
        width: 100%;
        max-width: calc(100% - 72px);

        @media (max-width: 1199.98px) {
          max-width: calc(100% - 30px);
        }
      }
    }
    
    &.active{
      border-color: $gray-2;

      .faq-item__head{
        span{
          &.arrow{
            transform: rotate(180deg);
          }
        }
      }

      .faq-item__body{
        max-height: 5000px;
      }
    }
  }
}

.page-id-190,
.page-id-282{
  .faq-v2{
    padding-top: 0;
  }
}