.image-content-slider{
  &__image{
    height: 350px;
    width: 450px;
    min-width: 450px;
    border-radius: 50px;
    overflow: hidden;

    @include media-breakpoint-down(md){
      width: 350px;
      min-width: 350px;
    }

    @include media-breakpoint-down(sm){
      border-radius: 24px;
    }

    @include media-breakpoint-down(xs){
      height: 300px;
      max-width: 450px;
      min-width: auto;
      width: 100%;
    }

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text{
    max-width: 603px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;

    @include media-breakpoint-down(md){
      gap: 30px;
    }

    @include media-breakpoint-down(xs){
      font-size: 14px;
    }

    div{
      &>*:last-child{
        margin-bottom: 0;
      }
    }

    &>h2{
      margin-bottom: 0;

      @include media-breakpoint-down(sm){
        text-align: center;
        padding: 0 63px;
      }
    }

    ul{
      padding-left: 25px;
      li{
        list-style-type: none;
        position: relative;

        &:before{
          content: '';
          width: 4px;
          height: 4px;
          background-color: $primary-color;
          border-radius: 10px;
          top: 7px;
          left: -15px;
          position: absolute;
        }
      }
    }
  }

  &-section{
    .swiper{
      display: flex;
      flex-direction: column;
      gap: 38px;

      &-slide{
        &__inner{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 30px;

          @include media-breakpoint-down(sm){
            flex-direction: column;
          }
        }
      }

      &-pagination{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;

        @include media-breakpoint-down(xs){
          display: none;
        }
      }

      .swiper-button-prev,
      .swiper-button-next{
        display: none;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(sm){
          display: flex;
          top: 400px;
        }

        @include media-breakpoint-down(xs){
          top: 350px;
        }

        svg{
          width: 20px;
          height: 20px;
          path{
            fill: $primary-color;
          }
        }
      }

      .swiper-button-prev{
        left: 35px;
      }

      .swiper-button-next{
        right: 35px;
      }
    }
  }
}
