.logos{
  &-text{
    font-size: 8px;
    margin-bottom: 24px;
  }

  &-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 40px;
  }

  &-item{
    @include media-breakpoint-down(sm){
      width: calc(50% - 20px);
      text-align: center;
    }
  }
}
