.page{
  &-head{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;

    h1{
      line-height: normal;
      margin-bottom: 40px;
    }

    &__excerpt{
      font-weight: 700;
      max-width: 1096px;
      margin: 0 auto;
    }
  }
}