.small-cards {
  padding: 0;
  margin: 60px 0;

  &-text {
    margin-bottom: 40px;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 50px;

    @include media-breakpoint-down(lg){
      gap: 30px;
    }

    @include media-breakpoint-down(xs){
      gap: 20px;
    }
  }

  &-item {
    width: calc(25% - 37.5px);
    padding: 16px;
    border-radius: 24px;
    min-height: 132px;
    background-color: $gray-3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $primary-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $fw-bold;
    font-size: 16px;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(lg){
      width: calc(25% - 22.5px);
    }

    @include media-breakpoint-down(md){
      width: calc(50% - 15px);
    }

    @include media-breakpoint-down(xs){
      width: calc(50% - 10px);
      font-size: 14px;
    }

    .text-hover {
      position: absolute;
      background-color: $primary-color;
      padding: 16px;
      font-weight: $fw-regular;
      color: $white;
      inset: 0;
      opacity: 0;
      z-index: 1;
      transition: opacity ease-out $transition;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-breakpoint-down(xs){
        font-size: 12px;
      }
    }

    &:hover {
      .text-hover {
        opacity: 1;
      }
    }
  }
}
