input,
textarea{
  min-height: 40px;
  border: 1px solid $primary-color;
  border-radius: 12px;
  padding-right: 15px;
  padding-left: 15px;
}

textarea{
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-field{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;

  &_submit{
    flex-direction: row;
    align-items: center;

    .wpcf7-spinner{
      margin-left: 0;
      margin-right: 0;
    }
  }

  label{
    margin-bottom: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
  }

  input,
  textarea{
    width: 100%;
  }

  .btn{
    width: max-content;
    border-radius: 12px;
    min-height: 40px;
    font-weight: $fw-regular;
    font-size: 12px;
    border: none;
    text-transform: uppercase;
    transition: padding ease-out $transition;

    &:is(:hover, :focus){
      padding-right: 30px;
      padding-left: 30px;
    }
  }
}

.wpcf7-not-valid-tip{
  text-align: right;
  font-size: 12px;
  padding-top: 2px;
}

.wpcf7-response-output{
  border-radius: 12px;
  margin-left: 0;
  margin-right: 0;
}