input,
textarea{
  min-height: 40px;
  border: 1px solid $primary-color;
  border-radius: 12px;
  padding-right: 15px;
  padding-left: 15px;
}

textarea{
  padding-top: 15px;
  padding-bottom: 15px;
}

.input-field{
  display: flex;
  flex-direction: column;
  gap: 8px;

  label{
    margin-bottom: 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
  }

  input,
  textarea{
    width: 100%;
  }

  .btn{
    width: max-content;
    border-radius: 12px;
    min-height: 40px;
    font-weight: $fw-regular;
    font-size: 12px;
    border: none;
    text-transform: uppercase;
  }
}