h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $ff-title;
	font-weight: $fw-bold;
	line-height: $lh-title;
	margin: 0 0 1rem;
	text-transform: uppercase;

	&.title_alt-color{
		color: $primary-2;
	}
}

h1, .h1 {
	font-size: 60px;
	margin-bottom: 24px;

	@include media-breakpoint-down(md){
		font-size: 36px;
	}

	@include media-breakpoint-down(xs){
		font-size: 24px;
	}
}

h2, .h2 {
	font-size: 36px;
	margin-bottom: 32px;

	@include media-breakpoint-down(sm){
		font-size: 24px;
	}
}

h3, .h3 {
	font-size: 30px;

	@include media-breakpoint-down(sm){
		font-size: 22px;
	}
}

h4, .h4 {
	font-size: 24px;

	@include media-breakpoint-down(sm){
		font-size: 20px;
	}
}

h5, .h5 {
	font-size: $fs-xl;

	@include media-breakpoint-down(sm){
		font-size: 18px;
	}
}

h6, .h6 {
	font-size: $fs-md;

	@include media-breakpoint-down(sm){
		font-size: 16px;
	}
}

a {
	display: inline-block;
	text-decoration: underline;
	transition: color ease-out $transition;

	&:hover {
		text-decoration: none;
	}
}

p {
	margin-top: 0;
}

b, strong {
	font-weight: $fw-bold;
}
