// Grid.
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1300px
);
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1280px
);
$grid-gutter-width: 40px;

// Font families.
$ff			: 'Montserrat', sans-serif;
$ff-title	: 'Montserrat', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light		: 300;
$fw-regular		: 400;
$fw-medium		: 500;
$fw-semibold	: 600;
$fw-bold		: 700;
$fw-extrabold	: 800;
$fw-black		: 900;

// Line heights.
$lh			: normal;
$lh-title	: 1.2;

// Colors.
$white	: #fff;
$black	: #000;
$primary-color: #26697D;
$gray-1: #F4F4F4;
$gray-2: #868686;
$gray-3: #C4C4C4;
$primary-2: #CBF9CC;

// Others.
$transition		: 0.3s;
$border-radius	: 5px;